# Python Basics Assignment

- Qazi Zamin
- Pwskills
- Data Science with Generative AI

### Q1) Explain the key features of Python that make it a popular choice for programming.

python is a popular choice for programming among the programmers not because of one reason but the various. 
  some of the key features that makes python a great choice for programmers are:
- Ease of learning: python's syntax is very simple, which makes it easy to understand and write code. This is great and easy for the beginners.

- versatile nature: python can be used for many applications like web development , analyzing data, automation tasks, ML , etc...

- Flexible with variables: you don't need to specify the type of data that you assign to a variable, which makes coding quicker and simpler.

- strong support: python is backed by a large community and big companies, ensuring it keeps improving and staying relevant.

- A lot of libraries: python comes with a range of libraries that provides modules and functions for various tasks. this allows us to perform many 
  functions without needing to write additional code. just import the library you want to use in the code. libraries are simply a piece of code 
  that can be re-used & is well structured, well optimized. there are more than 1,37,000 python libraries as of now . for example: numpy, pandas , etc...

- Simplicity & Readability: Python has a clean and simple syntax that almost resembles natural language, which makes it easy to read and write.

- Cross-Platform: Runs on any operating system: Windows , macOS, and Linux.

### Q2) Describe the role of Pre-defined keywords in python and provide examples of how they are used in a program.

Predefined keywords are the words in python that hold a special meaning and have special purpose. These keywords cannot be used as identifiers 
(such as variable names or function names)  because they are already reserved for specific purposes within Python.these keywords are fundamental to the syntax
and structure of the programs.
to access the keywords in python simply we have to type
help("keywords") and execute it and we will get the keywords that are present in python
once you execute the above code you will get and output like this:

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not                


below are some very basic and simple examples of pre-defined keywords in python that we learnt so far:

In [2]:
#1 if


a = 200
if a > 100:
    print(a,"is greater than 100")

200 is greater than 100

In [5]:
#2 if-else (they are two keywords that are used together in a code mostly)

a = 99
if a > 100:
    print(a,"is greater than 100")
else:
    print(a,"is less than 100")

99 is less than 100

In [7]:
#3 while with break statement (both while and break comes in keywords)

i = 1
n = 9
while i<=n:
    print(i)
    i = i + 1
    if i == 5:
        break

1
2
3
4

In [8]:
# for with continue (both for and continue are the keywords) # this is the example to find even numbers in the range of 10 using for loop with continue.

for i in range(10):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8

### Q3) Compare and Contrast mutable and immutable objects in python with examples.

mutability and immutability refers to the changeability and non-changeability of the objects.

so we can explain mutable objects as:

- Objects that can be changed after creation.
- Mutable objects can be useful when frequent modifications are required.
- Mutable objects use more memory as they need to accommodate potential changes.
- Changes to mutable objects directly affect their memory location.
- Examples include lists, dictionaries, and sets.

immutable objects are:

- Objects that can not be changed after creation.
- immutable objects are beneficial for values that should remain constant.
- immutable objects use less memory.
- Any operation that appears to modify an immutable object actually creates a new object.
- Examples include integers, floats, strings, etc...


below are the code examples for mutable and immutable objects that we discussed so far...

In [9]:
# MUTABLE OBJECT (LET'S TAKE LIST AS AN EXAMPLE)

l = ["mango","banana","pineapple","car"]
# l is a list of fruits with 'car' inside it, so let's access it
l

['mango', 'banana', 'pineapple', 'car']

In [10]:
# we want only fruits inside the list l , so we have to access car and change it to some other fruit
# car can be accessed in two ways , positive indexing[3] or negative indexing[-1]

l[3]

'car'

In [11]:
# now we will change 'car' to 'apple'

l[3] = "apple"

# and now we will access the list again

l

['mango', 'banana', 'pineapple', 'apple']

In [12]:
# so we got the updated list "l" for fruits . 

# so, by this example we can say lists are mutable

In [13]:
# IMMUTABLE OBJECTS (LET'S TAKE THE EXAMPLE OF STRING) , WE CAN ALSO TAKE INT, FLOAT AS AN EXAMPLE

a = "pythonprogramming"

# let's say, i want to access 'n' of python inside the string 'a'
# so remember it can be accessed by either [5] or [-12]

a[5]

'n'

In [14]:
a[-12]

'n'

In [15]:
# so if you want to change it , can you? let's try and see

a[5] = "q"

TypeError: 'str' object does not support item assignment

In [16]:
# that's it , clearly not , as strings are immutable , in error you see the message clearly that 'str' does not support item assignment

### Q4) Disscuss the types of operators in python and provide the example of how the are used.

In Python, the operators are the symbols that are used to perform operations on operands (variables, values, or expressions). 
There are many types of operators in python programming, each serving a different purpose:

- ARITHMETIC OPERATORS: Arithmetic Operators are used to perform mathematical operations like addition, subtraction, multiplication, division, etc (+,-,*,/,etc)

- COMPARISON (RELATIONAL) OPERATORS: Used to compare values and return True or False. (>,<,==,!=,>=,<=)

- LOGICAL OPERATORS: Logical operators are used to combine  conditional statements with ( and, or, not)

- ASSIGNMENT OPERATORS: Assignment operators are used to assign values to variables ( =,+=,-=)

- IDENTITY OPERATORS: Identity Operators are used to compare the memory locations of two objects. (is, is not)

- MEMBERSHIP OPERATORS: Membership Operators are used to test if the object is in a sequence or not. (in, not in)

- BITWISE OPERATORS: Bitwise Operators provide bit-level manipulation (&, |, ^, ~, <<, >>)



below are few examples for each kind of operator:

In [18]:
# ARITHMETC OPERATOR EXAMPLES

# +

x = 2
y = 7
z = x+y
z

9

In [19]:
# *

x = 3
y = 3 
x*y

9

In [20]:
# similarly /, //, - ,** are performed

In [21]:
# COMPARISON OPERATOR EXAMPLES

# >

a = 5
b = 90
a>b

False

In [22]:
# ==

a = 90
b = 90
a == b

True

In [23]:
# similarly rest are of the comparison operators are performed

In [27]:
# LOGICAL OPERATORS EXAMPLES

# and

True and True # returns 1 of both are 1

True

In [28]:
# or

True or False # returns 1 if atleast one is 1

True

In [29]:
# not
not True # returns opposite

False

In [30]:
# ASSIGNMENT OPERATOR EXAMPLE

# =

a = 24 # assigns value
a

24

In [31]:
# +=

a = 3
a += 8 # this is similar to a = a + 8 .... here a was 3 , so, a = 3 + 8 = 11
a

11

In [32]:
# IDENTITY OPERATOR EXAMPLE

# is

a = 5
b = 5
a is b # returns true if values are same

True

In [33]:
# is not

a = 9
b = 5
a is not b # returns true if values are different

True

In [34]:
# MEMBERSHIP OPERATOR EXAMPLES:

# in 

a = "computer"

"u" in a # returns true if present in a string

True

In [35]:
# not in

b = "great"

"tr" not in b # returns true if not present in string

True

In [36]:
# BITWISE OPERATORS EXAMPLES

# &

10 & 10 # COMPARES THE BINARY VALUE ARE RETURNS THE UPDATED VALUE USING AND LOGIC

10

In [37]:
# |

3|5 #COMPARES THE BINARY VALUE ARE RETURNS THE UPDATED VALUE USING OR LOGIC

7

In [ ]:
# similarly rest of the bitwise operates are used

### Q5) Explain the concept of Type Casting in Python with Examples.

Type casting also known as Type coversion is the process of changing the datatype of a value or object.  This is useful when you need to perform
operations or comparisons involving different types of data. or we can say while executing or computing the values using operators, there is 
sometimes mismatches between the data, to overcome that mismatch we do type casting.
For example:

Changing an integer like 10 into a float like 10.0.
Changing a float like 10.5 into an integer like 10.
Changing a integer like 10 into a string of characters '10'.
Changing string like '10' into an integer like 10.

below are some illustrations of type casting :

In [38]:
# let's say we have 'a' as a string '6' and b as an integer 7

a = '6'
b = 7

a+b     # when we try to execute it , it will give us an error because 'a' is a string and 'b' is an integer

TypeError: can only concatenate str (not "int") to str

In [39]:
type(a)

str

In [40]:
type(b)

int

In [41]:
# so here we have to do type casting for 'a'

a = int(a)     # here we did type casting by putting int() , 

a + b          # this will execute and give us result 6 + 7 = 13

13

In [42]:
# another way of doing it

int(a) + b     # it will also give us the same result

13

In [43]:
# now lets check type of both variables

type(a)       # if you remember , above it was a string data type

int

In [44]:
type(b)

int

In [45]:
# similarly we can convert other data types

# int to float

a = 11
type(a)

int

In [46]:
type(float(a))

float

In [47]:
# int to string

a = 10
type(a)

int

In [48]:
a = str(a)
type(a)

str

In [49]:
# float to str

a = 12.2
type(a)

float

In [50]:
a = str(a)
a

'12.2'

In [51]:
type(a)

str

In [52]:
# float to int

a = 15.9
type(a)

float

In [53]:
a = int(a)
a

15

In [54]:
type(a)

int

### Q6) How do conditional statements work in python? illustrate with examples.

Conditional statements in Python allow you to make decisions in your code based on certain conditions. 
it helps us to code decisions based on some pre conditions.

we have:

- if Statement: Executes a block of code if a condition is true.

- if-else Statement: Executes one block of code if a condition is true, and another block if it's false.

- if-elif-else Statement: Allows checking multiple conditions and executing different blocks of code accordingly.

- Nested if-else Statement: You can also nest one conditional statement inside another to create more complex decision-making logic.

below are the examples to illustrate each statement.

In [56]:
# if statement

num = 48
if ((num % 2) == 0 & (num > 0)):
    print("this is the no which is completely divisible by 2 and greater than 0")

this is the no which is completely divisible by 2 and greater than 0

In [59]:
# if-else statement

num = 90
if num > 100:
    print("number is greater than 100")
else:
    print("number is less than 100")

number is less than 100

In [64]:
# if elif else

score = 77

if score >= 90:
    print("A+ Grade")
elif 80 <= score < 90:
    print("A Grade")
elif 70 <= score < 80:
    print("B+ Grade")
else:
    print("Fail")

B+ Grade

In [70]:
# nested if-else

is_vip = True
age = 66

if is_vip:
    if age >= 18:
        if age < 65:
            print("welcome! you are our vip customer")
        else:
            print("welcome! you are eligible for our senior citizen discount")
    else:
        print("discount is only for people above the age 18")
else:
    print("sale is over")

welcome! you are eligible for our senior citizen discount

### Q7) Describe the different types of loops in python and their use cases with example.

Loop statements in python allows us to execute a block of code repeatedly until a certain condition is met.
In Python, there are mainly two types of loops:

for loop 
&
while loop. 


for Loop : for Loop iterates over a sequence of elements (such as a list, tuple, string, or range) and executes 
the block of code for each item in the sequence.

Use Cases:

When you need to perform a task a specific number of times (using range).

When you want to iterate over elements in a sequence, such as lists, tuples, or strings.


while Loop: while Loop executes a block of code repeatedly as long as a specified condition is true.

Use Cases:

When you want to repeat a block of code until a certain condition is met.

When the number of iterations is not predetermined or variable.


BREAK STATEMENT: as the name suggests , it breaks the loop . which means break terminates or exits the loop as it meets the condition.

CONTINUE STATEMENT: continue terminates only that particular iteration , after that it will keep continuing until the condition keep satisfying.


BELOW ARE THE EXAMPLES OF BOTH LOOPS , (ALSO WITH BREAK AND CONTINUE STATEMENT)

In [75]:
# WHILE LOOP

n = 7
i = 1

while i<n:
    print(i)
    i += 1

1
2
3
4
5
6

In [76]:
count = 5

while count > 0:
    print(count)
    count = count -1

5
4
3
2
1

In [87]:
# WHILE LOOP WITH ELSE
n = 12
i = 1

while i<n:
    print(i)
    i +=1
else:
    print("this will be printed if while runs successfully without a break")

1
2
3
4
5
6
7
8
9
10
11
this will be printed if while runs successfully without a break

In [80]:
# WHILE WITH BREAK STATEMENT

n = 12
i = 1

while i<n:
    print(i)
    i +=1
    if i == 5:      # till 5 we will get the interview and after that nothing will be executed, no output from 5 onwards
        break
else:
    print("this will be printed if while runs successfully without a break")

1
2
3
4

In [84]:
# WHILE WITH CONTINUE STATEMENT

n = 12
i = 1

while i<n:
    i += 1
    if (i == 5):    # it will execute and at 5 , it will skip 5 and continue the rest ...
        continue
    print(i)
else:
    print("this will be printed if while runs successfully without a break")

2
3
4
6
7
8
9
10
11
12
this will be printed if while runs successfully without a break

In [85]:
# FOR LOOP

for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [88]:
l = ['car','bike','bus','train']
for i in l:
    print(i)

car
bike
bus
train

In [89]:
# FOR LOOP WITH ELSE

l = ['car','bike','bus','train']
for i in l:
    print(i)
else:
    print("this will be printed if for loop runs successfully without a break")

car
bike
bus
train
this will be printed if for loop runs successfully without a break

In [90]:
# FOR LOOP WITH BREAK STATEMENT

l = ['car','bike','bus','train']
for i in l:
    if i == 'bus':
        break
    print(i)
else:
    print("this will be printed if for loop runs successfully without a break")

car
bike

In [91]:
# FOR LOOP WITH CONTINUE STATEMENT

l = ['car','bike','bus','train']
for i in l:
    if i == 'bike':
        continue
    print(i)
else:
    print("this will be printed if for loop runs successfully without a break")

car
bus
train
this will be printed if for loop runs successfully without a break

--------------------------------------------------------------------------------------------------------------------

- few problem statements on while and for loop

In [93]:
# PRINT A RIGHT TRIANGLE WITH '@' USING WHILE LOOP

row = 1

while row <= 5:
    col = 1
    while col <= row:
        print("@", end = " ")
        col += 1
    print()
    row += 1

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @

In [94]:
# PRINT A RIGHT TRIANGLE WITH '@' USING FOR LOOP

for i in range(6):
    for j in range(i+1):
        print("@", end = " ")
    print()

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @
@ @ @ @ @ @

In [95]:
# PRINT THE EVEN NUMBERS IN RANGE OF 20 USING FOR LOOP

for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [1]:
# PRINT THE EVEN NUMBERS IN RANGE OF 20 USING FOR LOOP WITH CONTINUE STATEMENT

for i in range(20):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [97]:
# PRINT THE ODD NUMBERS IN RANGE OF 20 USING FOR LOOP

for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [98]:
# PRINT THE EVEN NUMBERS IN RANGE OF 20 USING FOR LOOP USING CONTINUE

for i in range(20):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
# MULTIPLICATION TABLE OF 1011 , 1012 & 1013 USING FOR LOOP

for i in range(1011,1014):
    for j in range(1,11):
        product = i*j
        print(f"{i}*{j} = {product}")
    print()

1011*1 = 1011
1011*2 = 2022
1011*3 = 3033
1011*4 = 4044
1011*5 = 5055
1011*6 = 6066
1011*7 = 7077
1011*8 = 8088
1011*9 = 9099
1011*10 = 10110

1012*1 = 1012
1012*2 = 2024
1012*3 = 3036
1012*4 = 4048
1012*5 = 5060
1012*6 = 6072
1012*7 = 7084
1012*8 = 8096
1012*9 = 9108
1012*10 = 10120

1013*1 = 1013
1013*2 = 2026
1013*3 = 3039
1013*4 = 4052
1013*5 = 5065
1013*6 = 6078
1013*7 = 7091
1013*8 = 8104
1013*9 = 9117
1013*10 = 10130